!grid_unit         = "em"
!total_cols        = 8
!col_width         = 4
!gutter_width      = 1
!side_gutter_width = !gutter_width

!base_font_size_px   = 16
!base_line_height_px = 22

@import susy/susy.sass

!dark_grey   = #484848
!medium_grey = #aaa
!light_grey  = #f1f1f3
!orange      = #ff7010
!green       = #10FE70

!font_color         = !dark_grey
!link_color         = !orange
!link_hover_color   = !green
!link_visited_color = !orange

html
  +susy

body
  +container("justify")
  a
    :text-decoration none
    :color = !orange

  \:visited
    :color = !orange

#text, #banner, #title
  :font-family 'Lucida Grande', Verdana, Arial, Sans-Serif

#text
  ul.posts
    +no-bullets
    span
      :color = !medium_grey
      :font-family Monaco, "Courier New", monospace
  pre
    :background-color = !light_grey
