@import blueprint
@import blueprint/reset.sass
@import blueprint/modules/colors.sass
@import blueprint/modules/grid.sass
@import compass/utilities/lists/bullets.sass

+blueprint-grid

!blueprint_grid_columns = 24
!blueprint_container_size = 950px
!blueprint_grid_margin  = 10px

!dark_grey   = #484848
!medium_grey = #aaa
!light_grey  = #f1f1f3
!orange      = #ff7010
!green       = #10FE70

!font_color         = !dark_grey
!link_color         = !orange
!link_hover_color   = !green
!link_visited_color = !orange

html
  +blueprint-typography
  :overflow scroll
  :font-family 'Lucida Grande', Verdana, Arial, Sans-Serif

body
  +container
  :text-align justify

  a
    :text-decoration none

  #banner
    +push(3)
    +column(14,true)
    #links
      +float-right

  #text
    +push(3)
    +column(14,true)

    ul.posts
      +no-bullets
      span
        :color = !medium_grey
        :font-family Monaco, "Courier New", monospace

    pre
      :background-color = !light_grey
