<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns='http://www.w3.org/1999/xhtml'>
  <head>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <title>
      Bioinformatics Zen
    </title>
    <link href='/feed/' rel='alternate' title='Post Feed' type='application/atom+xml' />
  <!-- Framework CSS -->
  <link rel="stylesheet" href="/screen.css" type="text/css" media="screen, projection"/>
  <link rel="stylesheet" href="/print.css" type="text/css" media="print"/>
  <link rel="stylesheet" href="/syntax.css" type="text/css" media="all"/>
  <!--[if IE]><link rel="stylesheet" href="/ie.css" type="text/css" media="screen, projection"/><![endif]-->
  </head>
  <body>
    <!-- Container for the banner at top of page -->
    <div id='banner'>
      <div id='links'>
        <a href='/about/'>about</a> |
        <a href='mailto:mail@bioinformaticszen.com'>contact</a> |
        <a href='http://twitter.com/bioinformatics'>twitter</a> |
        <a href='/feed/'>article feed</a> |
        <a href='http://gdata.youtube.com/feeds/base/users/BioinformaticsZen/uploads?alt=rss&amp;v=2&amp;orderby=published'>video feed</a> |
        <a href='http://intensedebate.com/allBlogCommentsRSS/87619'>comment feed</a>
      </div>
    </div>
    <div id='text'>

      <div id='title'>
        <h2><a href='/'>Bioinformatics Zen</a></h2>
      </div>

      <div id='content'>
        {{ content }}
      </div>

    </div>
    <script src='http://www.google-analytics.com/urchin.js' type='text/javascript'></script>
    <script type='text/javascript'>
      _uacct = "UA-1362555-1";
      urchinTracker();
    </script>
  </body>
</html>
